*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-style: dashed;
}

:not(div){
    border-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--------------  HEADER  -----------------*/

header{
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    min-height: 90px;
}

header .container{
    background-color: #DAA520;
    margin: 20px 0 20px 0;
}

.container{
    max-width: 1200px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px 0px 40px 0;
}


.logo{
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header-link{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-link a {
    text-decoration: none;
    color: black;
} 

.login-btn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.login-btn a{
        text-decoration: none;
        color: black; 
}

/*--------------  HERO  -----------------*/

.hero{
    background-color: #05008B;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    width: 50%;
    background-color: #EE82EE;
    height: 400px;
}

/*--------------  FRONT PAGE  -----------------*/

.w-70{
    background-color: #2090FF;
    height: 500px;
    width: 70%;
}

.w-30{
    background-color: #FDC0CB;
    height: 500px;
    width: 30%;
}

.flex-w100{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grey-back{
        background-color: #D3D3D3;
}

.green-container{
    height: 600px;
    background-color: #228B23;
}